<div id="left_bar" th:fragment="menuChauffeur" data-th-each="ee : ${chauffeur}">
	
	
	
		<div id="secondary_nav">
			<ul id="sidenav" class="accordion_mnu collapsible">
				<li><a th:href="@{/homeChauffeur(id=${ee.id})}"><span class="nav_icon computer_imac"></span> Dashboard</a>
				</li>
				<li><a href="#"><span class="nav_icon frames"></span>ListeVehicule<span class="up_down_arrow">&nbsp;</span></a>
				<ul class="acitem">
					<li><a th:href="@{/ChauffeurUser/listeVehiculeParChauffeur(id=${ee.id})}"><span class="list-icon">&nbsp;</span>ListeVehicule</a></li>
					
				</ul>
				</li>
				
				
				
				
				<li><a href="#"><span class="nav_icon frames"></span>Entretien a venir<span class="up_down_arrow">&nbsp;</span></a>
				<ul class="acitem">
					<li><a th:href="@{/ChauffeurUser/listeEntretienParChauffeur(id=${ee.id})}"><span class="list-icon">&nbsp;</span>Liste des Entretiens</a></li>
					
				</ul>
				</li>
				
			</ul>
		</div>
	
</div>